In [6]:
import pandas as pd
data2 = pd.read_excel("https://archive.ics.uci.edu/ml/machine-learning-databases/concrete/compressive/Concrete_Data.xls")

In [7]:
data2.head()

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075

In [22]:
X = data2.iloc[:,:8]
y = pd.DataFrame(data2.iloc[:,8])

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, random_state=8 )
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((772, 8), (258, 8), (772, 1), (258, 1))

In [26]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [46]:
scaler = StandardScaler().fit(X_train) # Şuan X-train Min ve Max()
X_train_sc = scaler.transform(X_train)
X_test_sc = scaler.transform(X_test)

scaler1 = StandardScaler().fit(y_train)
y_train_sc = scaler1.transform(y_train)
y_test_sc = scaler1.transform(y_test)

In [47]:
from sklearn.linear_model import LinearRegression

In [48]:
Model2 = LinearRegression()
Model3 = LinearRegression()
Model4 = LinearRegression()

In [49]:
Model2.fit(X_train,y_train)
Model3.fit(X_train_sc,y_train_sc)
Model4.fit(X_train_sc, y_train)

LinearRegression()

LinearRegression()

LinearRegression()

In [50]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [51]:
Model2.score(X_test,y_test)
Model3.score(X_test_sc,y_test_sc)
Model4.score(X_test_sc, y_test)

0.5466439295683663

0.5466439295683664

0.5466439295683663

In [52]:
y_pred = Model2.predict(X_test) 
y_pred_inverse = pd.DataFrame(y_pred, index=y_test.index)
Sonuclar = pd.concat([y_test, y_pred_inverse], axis=1)
Sonuclar.columns = ['Gercek','Tahmin']
Sonuclar

        Gercek     Tahmin
626   9.990507  12.132285
58   50.948829  39.397912
749  36.935229  41.880987
805  48.794217  38.828843
580  21.859147  37.560577
..         ...        ...
319  15.361525  30.543530
820  67.113594  77.594774
387  51.021224  50.572839
305  41.885667  34.170277
892  32.239898  25.678395

[258 rows x 2 columns]

In [53]:
y_pred = Model3.predict(X_test_sc) 
y_pred_inverse = pd.DataFrame(scaler1.inverse_transform(y_pred), index=y_test.index)
Sonuclar = pd.concat([y_test, y_pred_inverse], axis=1)
Sonuclar.columns = ['Gercek','Tahmin']
Sonuclar

        Gercek     Tahmin
626   9.990507  12.132285
58   50.948829  39.397912
749  36.935229  41.880987
805  48.794217  38.828843
580  21.859147  37.560577
..         ...        ...
319  15.361525  30.543530
820  67.113594  77.594774
387  51.021224  50.572839
305  41.885667  34.170277
892  32.239898  25.678395

[258 rows x 2 columns]